%h1 Call 206.734.3852

%h2
  = @recordings.count
  recordings
  
%ul.plain
  - @recordings.each do |r|
    %li= "From #{r[:zip_code]} (or thereabouts) on #{r[:created_at].strftime('%b %d at %I:%M %p')}: <a href=\"#{r[:url]}\">listen</a></a>"