:plain
  <script type="text/javascript" src="/audio-player.js"></script>

%h1 Call 206.734.3852

%h2
  = @recordings.count
  recordings
  
%ul.plain
  - @recordings.each do |r|
    %li
      From
      %a{ :href => "http://maps.google.com/maps?q=#{r[:zip_code]}", :target => '_blank' }= r[:zip_code]
      = "(or thereabouts) on #{r[:created_at].strftime('%b %d at %I:%M %p')}: <a href=\"#{r[:url]}.mp3\">listen</a></a>"
      
      :erb
        <object type="application/x-shockwave-flash" data="/player.swf" id="audioplayer1" height="24" width="290">
        <param name="movie" value="/player.swf">
        <param name="FlashVars" value="playerID=audioplayer1&soundFile=<%= r[:url] %>.mp3">
        <param name="quality" value="high">
        <param name="titles" value="recording">
        <param name="menu" value="false">
        <param name="wmode" value="transparent">
        </object>

:plain
  <script type="text/javascript" src="http://www.fffff.at/widgets/speed-project/speed-project.js"></script>
<script type="text/javascript">if (FATLab_SpeedProject) {FATLab_SpeedProject.Values.Format='strip'; FATLab_SpeedProject.Values.TimeSpent=240; FATLab_SpeedProject.Make();}</script>